[Desktop Entry]
Name=Scribe
Comment=Editor Markdown nativo para GNOME
Exec=scribe %F
Icon=app.scribe.Scribe
Type=Application
Categories=GNOME;GTK;Office;WordProcessor;
MimeType=text/markdown;text/x-markdown;text/plain;
Keywords=markdown;editor;notes;
StartupNotify=true
